@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}


/* 홈페이지 메인 */
.content_area {
	margin: 0 auto;
	width: 100%;
	height: 1500px;
	text-align: center;
	overflow: hidden;
}

/* 카테고리 */
.category{
	width: 100%;
	height: 150px;
	margin-top: 50px;
}

.category a{
	text-decoration: none;
	color: black;
}

/* 카테고리 이미지 */
.cate_img{
	width: 90px; 
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
}

/* 상품 리스트 */
.prod_list{
	margin: 0 auto;
	width: 65%;
	height: auto;
}

.prodBox{
	float: left;
	margin: 0 auto;
	width: 25%;
	height: 350px;
	margin-bottom: 30px;
}

.prodImg{
	margin-bottom: 15px;
	width: 200px; 
	height: 200px;
	border: 1px solid #ccc;
}

/* 페이지 버튼 인터페이스 */
.pageMaker_wrap{
	margin: 0 auto;
	width: 100px;
	height: 20%;
	margin-top: 100px;
}
.pageMaker_wrap a{
	color : black;
}
.pageMaker{
    list-style: none;
    display: inline-block;
}	
.pageMaker_btn {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
.next, .prev {
    border: 1px solid #ccc;
    padding: 0 10px;
}
.next a, .prev a {
    color: #ccc;
}
.active{							/* 현재 페이지 버튼 */
	border : 2px solid black;
	font-weight:400;
}