
# Created by https://www.toptal.com/developers/gitignore/api/java,eclipse,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=java,eclipse,windows

src/main/webapp/resources/image_1/*
pom.properties
MANIFEST.MF
.classpath
.project
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.wst.validation.prefs
org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs

test.css
TestMapper.java
TestMapper.xml
TestService.java

# sbteclipse plugin
.target
target/*
src/test/*

# STS (Spring Tool Suite)
.springBeans

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# End of https://www.toptal.com/developers/gitignore/api/java,eclipse,windows