@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

/*관리자 페이지 컨텐츠 영역*/
.admin_content_wrap {
	margin: 0 auto;
	width: 90%;
	height: 90%;
	margin-top: 40px;
	position: relative;
}

.admin_list_03{
	background-color: #ccc;
}

/* 상품목록 list */
.memberList {
	font-size: 15px;
	height: 20%;
	border-radius: 5px;
	border-spacing: 0;
	margin-bottom: 10px;
}

thead{
	background-color: #ccc;
	height: 40px;
}

tbody > tr{
	height: 30px;
}

tbody tr:hover { 
	background-color: skyblue;
}

.id_width {width: 150px;}
.name_width {width: 150px;}
.tel_width {width: 250px;}
.addr1_width {width: 150px;}
.addr2_width {width: 150px;}
.email_width {width: 150px;}
.adminCk_width {width: 150px;}
				
.th_column_1:focus{
	background-color: #ccc;
}

/* 페이지 이동 영역 */
.pageInfo_wrap{
	height: 20%;
}
.pageInfo_area {
   list-style: none;
   display: inline-block;
}
.pageInfo_area li {
   float: left;
   font-size: 20px;
   margin-left: 18px;
   padding: 7px;
   font-weight: 500;
}